@import url("https://fonts.googleapis.com/css?family=Mirza&amp;subset=latin-ext");
* {
  box-sizing: border-box;
}

body {
  background-color: #928A97;
  background-image: url("http://www.publicdomainpictures.net/pictures/20000/velka/outdoor-christmas-decorations.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
audio {display:none;}
.card {
  -webkit-perspective: 1500px;
  perspective: 1500px;
  position: absolute;
  left: calc(50% - 175px);
  top: calc(50% - 250px);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition-delay: initial;
  transition-delay: initial;
  -webkit-transform: rotate(-10deg) translate(0, 0);
  transform: rotate(-10deg) translate(0, 0);
  -webkit-animation: cardIn 1s alternate cubic-bezier(0.87, -0.41, 0.19, 1.44);
  animation: cardIn 1s alternate cubic-bezier(0.87, -0.41, 0.19, 1.44);
}
@media (max-width: 767px) {
  .card {
    left: calc(50% - 115px);
    top: calc(50% - 164.5px);
  }
}
@media (max-width: 479px) {
  .card {
    left: calc(50% - 75px);
    top: calc(50% - 107px);
  }
}
.card:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 50px #000;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.card.is-opened {
  -webkit-transform: rotate(0deg) translate(175px, 0);
  transform: rotate(0deg) translate(175px, 0);
}
@media (max-width: 767px) {
  .card.is-opened {
    -webkit-transform: rotate(0deg) translate(115px, 0);
    transform: rotate(0deg) translate(115px, 0);
  }
}
@media (max-width: 479px) {
  .card.is-opened {
    -webkit-transform: rotate(0deg) translate(75px, 0);
    transform: rotate(0deg) translate(75px, 0);
  }
}
.card.is-opened .cart-page-front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

@-webkit-keyframes cardIn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-10deg) translate(0, -100%);
    transform: rotate(-10deg) translate(0, -100%);
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(-10deg) translate(0, 0);
    transform: rotate(-10deg) translate(0, 0);
  }
}

@keyframes cardIn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-10deg) translate(0, -100%);
    transform: rotate(-10deg) translate(0, -100%);
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(-10deg) translate(0, 0);
    transform: rotate(-10deg) translate(0, 0);
  }
}
.card,
.card-page {
  width: 350px;
  height: 500px;
}
@media (max-width: 767px) {
  .card,
  .card-page {
    width: 230px;
    height: 329px;
  }
}
@media (max-width: 479px) {
  .card,
  .card-page {
    width: 150px;
    height: 214px;
  }
}

.card-page {
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  cursor: pointer;
  position: absolute;
  outline: 1px solid transparent;
}

.cart-page-front {
  -webkit-transform-origin: 0 50% 0;
  transform-origin: 0 50% 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(-20deg);
  transform: rotateY(-20deg);
  z-index: 2;
}

.cart-page-outside,
.cart-page-inside {
  position: absolute;
  -webkit-backface-visibility: hidden;
}

.cart-page-outside {
  border: 10px solid #fbfbfb;
  background: #c72320 url("https://cdn.pixabay.com/photo/2017/07/30/09/22/christmas-2553835_960_720.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  .cart-page-outside {
    border: 5px solid #fbfbfb;
  }
}

.cart-page-inside,
.cart-page-bottom {
  background-color: rgba(215, 44, 44, 0.6);
  background-image: url("https://www.dropbox.com/s/8hw7guch8d151kg/pattern.png?raw=1");
  border: 20px solid #d4d1d0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  box-pack: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  box-align: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  text-align: center;
}
@media (max-width: 767px) {
  .cart-page-inside,
  .cart-page-bottom {
    border: 10px solid #d4d1d0;
  }
}

.cart-page-inside {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  border-right: none !important;
  background-position: 0px 80px;
}
@media (max-width: 767px) {
  .cart-page-inside {
    background-position: 0px 30px;
  }
}
@media (max-width: 479px) {
  .cart-page-inside {
    background-position: 0px 30px;
  }
}

.cart-page-bottom {
  z-index: 1;
  border-left: none !important;
  background-position: -22px 80px;
}
@media (max-width: 767px) {
  .cart-page-bottom {
    background-position: 85px 30px;
  }
}
@media (max-width: 479px) {
  .cart-page-bottom {
    background-position: 0px 30px;
  }
}

.feliz-natal {
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
.feliz-natal svg {
  width: 350px;
  height: auto;
}
@media (max-width: 767px) {
  .feliz-natal svg {
    width: 200px;
  }
}
@media (max-width: 479px) {
  .feliz-natal svg {
    width: 150px;
  }
}

.click-icon {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  bottom: 20px;
  -webkit-animation: iconAnimation 1s infinite alternate ease-in-out;
  animation: iconAnimation 1s infinite alternate ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}
.click-icon svg {
  width: 96px;
  height: 96px;
}
@media (max-width: 767px) {
  .click-icon svg {
    width: 72px;
    height: 72px;
  }
}
@media (max-width: 479px) {
  .click-icon svg {
    width: 48px;
    height: 48px;
  }
}
.click-icon.is-hidden {
  opacity: 0;
}

@-webkit-keyframes iconAnimation {
  0% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  100% {
    -webkit-transform: translate(-50%, 10px);
    transform: translate(-50%, 10px);
  }
}

@keyframes iconAnimation {
  0% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  100% {
    -webkit-transform: translate(-50%, 10px);
    transform: translate(-50%, 10px);
  }
}
p {
  font-family: "Mirza", Verdana, Arial, serif;
  font-size: 36px;
  line-height: 1.2em;
  padding-left: 10px;
}
@media (max-width: 767px) {
  p {
    font-size: 24px;
  }
}
@media (max-width: 479px) {
  p {
    font-size: 20px;
  }
}

#snow{
  background: none;
  font-family: Androgyne;
  background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index:1;
  -webkit-animation: snow 10s linear infinite;
  -moz-animation: snow 10s linear infinite;
  -ms-animation: snow 10s linear infinite;
  animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
} 